* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 15px;
	line-height: auto;
	font-weight: normal;
	color: #000000;
	font-family: OpenSans, sans-serif;
}

h1 {
	font-size: 48px;
	line-height: auto;
	color: #000000;
	font-weight: bold;
	font-family: Gilroy, sans-serif;
}



h2 {
	font-size: 47px;
	line-height: auto;
	color: #000000;
	font-weight: bold;
	font-family: Gilroy, sans-serif;
}

@font-face {
    font-family: Gilroy; 
    src: url(../fonts/gilroylight.woff2); 
    font-family: GilroyBold;
    src: url(../fonts/gilroyextrabold.woff2);
    font-family: OpenSans;
    src: url(../fonts/opensans.woff2);
    font-family: OpenSansLight;
    src: url(../fonts/opensanslight.woff2);
   }

/** UTILS **/
.clearfix:after {
	 content: '';
	 display: table;
	 clear: both;
}

.outer-wrapper {
	
}

.wrapper {
	width: 1160px;
	margin: 0 auto;
	position: relative;
	padding: 13px 0 60px;
}

/* ----- HEADER ------ */

.main-header {
	padding: 0 60px 35px;
	background-color: #f7e296;
	width: 1160px;
	margin: 40px auto 0;
	    padding-bottom: 160px;
}


.logo {
	display: block;
	height: 40px;
	text-decoration: none;
	font-size: 48px;
	line-height: auto;
	color: #000000;
	font-weight: bold;
	font-family: Gilroy, sans-serif;
	position: absolute;
	margin-top: -30px;

}

.site-search-form {
	position: relative;
}

.site-search-form::before {
	position: absolute;
	content: "";
	background: #fff url("../img/search.svg") no-repeat;
	width: 20px;
	height: 20px;
}

.logo:hover {
	color: #444444;
}

.logo:active {
	color: #666666;
}

.cabinet-menu-link:hover,
.cabinet-menu-link:hover {
	opacity: 0.6;
}

.cabinet-menu-link:active,
.cabinet-menu-link:active {
	opacity: 0.3;
}

.cabinet-menu-header,
.cabinet-menu-list-header,
.main-menu-1 {
	margin: 0;
	padding: 0;
}

.cabinet-menu-header {
	font-size: 15px;
	line-height: 36px;
	font-weight: normal;
	color: #000000;
	font-family: OpenSans, sans-serif;
}

.main-menu-header {
	font-size: 18px;
	line-height: auto;
	font-weight: bold;
	color: #000000;
	font-family: GilroyBold, sans-serif;
}

.cabinet-menu-list-header {
	padding-top: 40px;
}

.cabinet-menu-item-header,
.catalogue-menu-item-header {
	text-decoration: none;
	display: inline-block;

}

.catalogue-menu-list-header {
	margin: 0px;
    padding-left: 0px;
}

.catalogue-menu-item-header {
	padding-top: 45px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.cabinet-menu-item-header:nth-child(2) {
	margin-left: 57px;
	position: relative;
}

.cabinet-menu-item-header:nth-child(3) {
	margin-left: 295px;
	margin-right: 70px;
	position: relative;
}

.cabinet-menu-item-header:nth-child(4) {
	position: relative;
}

.catalogue-menu-item-header:first-child {
	padding-right: 254px;
	position: relative;
}

.catalogue-menu-item-header:first-child::before {
	content: "+";
	position: absolute;
	right: 230px;
	top: 38px;
	width: 20px;
	height: 20px;
	font-size: 30px;
	opacity: 0.5;
	font-family: OpenSans, sans-serif;
	font-weight: normal;
}

.catalogue-menu-item-header:nth-child(2) {
	padding-right: 30px;
}

.catalogue-menu-item-header:nth-child(3) {
	padding-right: 152px;
}

.cabinet-menu-item-header:first-child::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background: url("../img/sprite/search.png") no-repeat;
	filter: brightness(0);
	position: absolute;
	top: 11px;
	left: -17px;
}

.cabinet-menu-item-header:nth-child(2)::before {
	content: "";
	display: block;
	width: 13px;
	height: 13px;
	background: url("../img/sprite/menu-icon.png") no-repeat;
	background-position: 0 0;
	filter: brightness(0);
	position: absolute;
	top: 11px;
	left: -17px;
}

.cabinet-menu-item-header:nth-child(3)::before {
	content: "";
	display: block;
	width: 13px;
	height: 13px;
	background: url("../img/sprite/menu-icon.png") no-repeat;
	background-position: 0 -22px;
	filter: brightness(0);
	position: absolute;
	top: 13px;
	left: -17px;
}

.cabinet-menu-item-header:nth-child(4)::before {
	content: "";
	display: block;
	width: 13px;
	height: 13px;
	background: url("../img/sprite/menu-icon.png") no-repeat;
	background-position: 0 -42px;
	filter: brightness(0);
	position: absolute;
	top: 11px;
	left: -17px;
}

.cabinet-menu-item-header:nth-child(4)::before:hover {
	opacity: 0.5;
}

.cabinet-menu-link {
	text-decoration: none;
	color: #000;
	
}

.site-search-form {
	background-color: transparent;
	border: 0px;
	outline: none;
	width: 355px;
	opacity: 0.5;
}


.site-search-form:hover {
	opacity: 1;
}

.site-search-form:focus {
	border-bottom: 3px solid black;
}

.site-search {
	display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    position: relative;  
    border: 3px solid black;  
    width: 81px;
	height: 45px;
	top: -10px;
}

.site-search:hover {
	background-color: #000;
	color: #fff;
}

.site-search:active	{
	color: gray;
}


/* ----- SLIDER ------ */

.main-slider {
	padding: 0 60px;
	margin-top: -125px;
}


.slide:not(:first-child) {
	display: none;
}

.slide {
	
}

.image-item {
	float: left;
}

.image-item {
	width: 400px;
}

.description-item {
	
	float: right;
	width: 560px;
}

.description-text {
	font-size: 15px;
	font-weight: normal;
	color: #444444;
	font-family: OpenSans, sans-serif;
}

.dash {
	width: 100px;
	height: 7px;
	background-color: #fff;
	margin: 36px 0 35px;
}

.slider-number {
	font-size: 179px;
	font-weight: bold;
	color: #fff;
	float: right;
	margin-top: -104px;
	margin-right: -10px;
	font-family: Gilroy, sans-serif;
}

.slide-headline {
	margin-top: 0;
}

.controls {
	
	margin: 50px 0;
}

.details-link {
	float: left;
	position: relative;
	font-size: 18px;
	line-height: auto;
	letter-spacing: 3px;
	color: #000;
	font-family: GilroyBold, sans-serif;
	text-decoration: none;
	font-weight: bold;
	padding-left: 40px;
	padding-right: 40px;
	background: url("../img/slider-item.png") no-repeat center center;
	text-transform: uppercase;
}

.details-link:hover {
	background: url("../img/slider-item-big.png") no-repeat center center;
}

.details-link:active {
	opacity: 0.8;
}

.slider-switch {
	float: right;
}

.product-attributes {
	display: block;
}

.product-attribute {
	float: left;
	width: 33%;
}

.value {
	font-size: 36px;
	color: #000;
	font-family: Gilroy, sans-serif;
}

.name {
	;
	font-size: 13px;
	font-weight: normal;
	color: #444444;
	font-family: OpenSans, sans-serif;
	padding-top: 15px;
}




/** -- CATEGORIES -- */
.product-categories {
	margin-top: 100px;
	
}

.product-category {
	margin-right: 40px;
	float: left;
	width: 160px;
}

.product-category:nth-child(6n) {
	margin-right: 0px;
}

.product-category-icon {
	width: 160px;
	height: 160px;
	background-color: #ffe27f;
	
	text-align: center;
	padding-top: 38px;
}

.product-category-link {
	display: block;
	width: 100%;
	height: 100%;
}

.product-category-name {
	padding-top: 35px;
}

/* --- SERVICES TABS -- */

.services {
	position: relative;
	margin-top: 80px;
	margin-bottom: 100px;
	background: #e5e5e5;
}



.services input {
	position: absolute;
	left: -9999px;
}

.services-menu {
	width: 280px;
	border-right: 7px solid #000;
	float: left;
	padding: 80px 0;
}

.services-menu .menu-item {
	display: block;
	padding: 0px 0 0px 30px;
	margin-bottom: 20px;
}

.menu-item:last-child {
	margin-bottom: 0;
}

.active.menu-item {
	background-color: #000;
	color: #f7e296;
	padding: 10px 0 10px 25px;
}

.services-content {
	float: right;
	margin-left: 100px;
	padding-top: 80px;
	width: 760px
}

.services h2 {
	margin-top: 0;
}

#content2,
#content3 {
	display: none;
}

/* -- COMPANY INFO & CONTACT -- */
.company-info-wrapper {
	
}

.brands {
	font-size: 0;
	text-align: center;
}

.brand-link {
	display: inline-block;
	vertical-align: top;
	filter: grayscale(1);
	opacity: 0.5;
}

.brand-link:hover {
	filter: grayscale(0);
	opacity: 1;
}


.company {
	width: 465px;
	margin-right: 120px;
	float: left;
}

.contacts {
	float: left;
	width: 560px;
}

.company-description {
	font-size: 15px;
	line-height: 30px;
	font-family: OpenSans, sans-serif;
	color: #434343;
	margin-top: 40px;
	margin-bottom: 0px;

}

.company-list {
	
	margin-top: 80px;
	margin-bottom: 75px;
}

.company-list-name {
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	font-family: Gilroy, sans-serif;
	color: #000;
}

.btn {
	position: relative;
	font-size: 18px;
	line-height: auto;
	letter-spacing: 3px;
	color: #000;
	font-family: GilroyBold, sans-serif;
	text-decoration: none;
	font-weight: bold;
	padding-left: 40px;
	padding-right: 40px;
	background: url("../img/company-item.png") no-repeat center center;
	text-transform: uppercase;
}

.company-map {
	margin-bottom: 80px;
	margin-top: 40px;
}

/* -- Footer -- */
.footer {
	background-color: #464646;
}

.cabinet-menu-footer {
	width: 1160px;

}

.logo-1 {
	float: left;
	margin-top: 55px;
	color: #ffe27f;
	width: 200px;
}

.menu-list-footer {
	float: right;
	margin-top: 65px;
	
}

.cabinet-menu-item-footer  {
	display: inline-block;
	text-decoration: none;
}

.company-address {
	float: left;
	margin-top: 30px;
	width: 220px;
}

.company-services {
	float: left;
	width: 440px;
	margin-top: 10px;
	margin-left: 240px;
}

.company-phone-number {
	float: right;
	margin-top: 30px;
	
}

.footer-dash {
	float: left;
	margin-top: 60px;
	width: 200px;
}

.footer-social {
	float: left;
	margin-top: 60px;
	width: 220px;
	margin-left: 300px;
}

.footer-copyright {
	float: right;
	margin-top: 60px;
}

.designed-by {
	
	
	
}
/*-- CATALOG-PAGE --*/

.main-content {
	
}

.main-h1,
.breadcrumbs,
.filters {
	margin-left: 60px;
}

.filters {
	float: left;
	width: 270px;
	background-color: #f0f0f0;

}

.catalog {
	float: right;
	width: 830px;
}


.products {
	padding-bottom: 65px;
	font-size: 0px;
}
.product {
	display: inline-block;
	width: 300px;
	margin: 70px 40px 0px 0px;
	padding-left: 72px;
	vertical-align:	top;
	font-size: 14px;
	line-height: auto;
	font-weight: bold;
	color: #000000;
	font-family: Gilroy, sans-serif;
	letter-spacing: 0px;
}

.product-description {
	margin-top: 40px;
}

.sorting {
	padding-left: 72px;
	height: 70px;
	display: flex;
	background-color: #ebebeb;

}

.filter-name {

	padding: 25px 0;
	background-color: #dddddd;
	
}

.sorting-name,
.sorting-price,
.sorting-type,
.sorting-popularity {
	flex: 1;
	padding: 25px 0;
}

.navigation-product {
	display: flex;
	height: 70px;
	width: 760px;
	background-color: #ebebeb;
	margin-bottom: 80px;
}

.navigation-product-back {
	flex: 1;
	padding: 25px 20px;
}


.navigation-product-3 {
	flex: 1;
}

.navigation-product-forward {
	padding: 25px 20px;
}

.navigation-product-1,
.navigation-product-2,
.navigation-product-3 {
	padding: 25px 20px;
}